extends ../default

block head-title
    title Team Page — Team SRMSAT

block head-prefetch

block page-css
    link(rel='stylesheet' href='/assets/css/team.css')
    //- link(rel='stylesheet' href='/bower/tingle/dist/tingle.min.css')
    link(rel='stylesheet' href='/bower/fullpage.js/dist/jquery.fullpage.min.css')

block page-js

block page-navbar
    +navbar('team')

mixin member(name, pp, desg, text, ...links)
    .masonry--panel
        img.img-thumbnail(class='img-thumbnail' src='/assets/images/profile/'+pp alt='Photo of '+name)
        p.name #{name}
        p.desg #{desg}
        .links
            each link in links
                if (link.title == 'Researchgate')
                    a(href=link.link target='_blank' title='Researchgate')
                        .fa.fa-researchgate-square
                else if (link.title == 'LinkedIn')
                    a(href=link.link target='_blank' title='LinkedIn')
                        .fa.fa-linkedin-square
        .extra-info-wrapper
            p.text !{text}

block page-wrapper
    .page-wrapper.container-fluid.page-section--header
        .container
            .row.u-text-center
                ul#slidesMenu.section-heading
                    li(data-menuanchor='core')
                        a.u-heading-slab.active(data-src='core' href='javascript:void(0)') Core Team
                    li(data-menuanchor='sfd')
                        a.u-heading-slab(data-src='sfd' href='javascript:void(0)') Spaceflight Dynamics
                    li(data-menuanchor='astrionics')
                        a.u-heading-slab(data-src='astrionics' href='javascript:void(0)') Astrionics
                    li(data-menuanchor='mechsystems')
                        a.u-heading-slab(data-src='mechsystems' href='javascript:void(0)') Mechanical Systems

    div#main-wrapper
        .section.fp-auto-height
            .slide.fp-auto-height
                .page-wrapper.container-fluid.page-section--content

                    .container-fluid.tp-container
                        //- .container.masonry--heading
                        //-     .row.u-text-center Core Team

                        //- ROW-1
                        .container.masonry--container
                            +member(
                                'Akash Ratheesh',
                                'akash.jpg',
                                'Systems Engineer',
                                '',
                                {link: 'https://www.researchgate.net/Akash_Ratheesh', title: 'Researchgate', blank: 1},
                                {link: 'https://in.linkedin.com/in/akash-ratheesh-882a75a1',  title: 'LinkedIn', blank: 1}
                            )
                            +member(
                                'Kuldeep Rambhai Barad',
                                'kuldeep.jpg',
                                'Mission Design and Analysis',
                                '',
                                /*
                                    'Kuldeep Barad is an undergraduate student at Department of Aerospace Engineering, SRM University.' +
                                    'Kuldeep joined the team in his freshman year as a Guidance Navigation and Control (GNC) engineer,' +
                                    'and later contributed to Trajectory design and Attitude Determination and Control (ADCS) subsystems.' +
                                    'He played a vital role in the trajectory design of the lunar mission. He also contributed largely to' +
                                    'the payload design and worked on the definition of the scientific objective.' +
                                    '<br>' +
                                    'Kuldeep currently leads the Space Flight Dynamics (SFD) division consisting of the GNC, Trajectory design' +
                                    'and analysis, and ADCS subsystems. He ensures that the three subsystems work in coordination and helps' +
                                    'interface the group with other divisions on a system level. He provides guidance to the newer members and' +
                                    'helps induct them into the team.',
                                */
                                {link: 'https://www.researchgate.net/Kuldeep_Barad', title: 'Researchgate', blank: 1},
                                {link: 'https://in.linkedin.com/in/kuldeepbarad',  title: 'LinkedIn', blank: 1}
                            )

                        //- ROW-2
                        .container.masonry--container
                            +member(
                                'Sri Harsha Pavuluri',
                                'harsha.jpg',
                                'Astrionics Division',
                                '',
                                /*
                                    'Sri Harsha Pavuluri is an undergraduate student at Department of Electronics and Communication Engineering,' +
                                    'SRM University. Harsha initially joined the team as a member of the Electrical Power System (EPS),' +
                                    'and later worked on the Telemetry, Tracking &amp; Command Subsystem (TTC). For the most part of SRMSAT - 2&rsquo;s' +
                                    'timeline, Harsha has been a lone member working on the design of EPS and TTC subsystems and designed' +
                                    'most of the subsystems himself. He also contributed to the design the payload equipment for the SRMSAT - 2.' +
                                    '<br>' +
                                    'Harsha currently leads the Astrionics Division, and also acts as the subsystem head of the EPS' +
                                    'and TTC subsystems. He ensures that the design teams are making progress in accordance with the' +
                                    'project timeline, provides guidance to the members of the subsystems under astrionics division and' +
                                    'ensures the validity of design. He also interfaces between divisions and subsystems, keeping up' +
                                    'with the satellite system&rsquo;s design.',
                                */
                                {link: 'mailto:harsha@teamsrmsat.in', title: 'harsha@teamsrmsat.in', blank: 0},
                                {link: 'https://www.researchgate.net/Sri_Harsha_Pavuluri', title: 'Researchgate', blank: 1},
                                {link: 'https://in.linkedin.com/in/sri-harsha-pavuluri-25ab47a1',  title: 'LinkedIn', blank: 1},
                                {link: '/cv/sriharsha.pdf', title: 'CV', blank: 0}
                            )
                            +member(
                                'Kartik Naik',
                                'kartik.jpg',
                                'Mechanical Systems Division',
                                '',
                                /*
                                    'Kartik Naik is an undergraduate student at Department of Mechanical Engineering, SRM University.' +
                                    'Kartik joined the team in his freshman year as a thermal engineer, and later worked on the structure' +
                                    'and propulsion subsystems. Being the only member in thermal subsystem for a year, he played a crucial' +
                                    'role in its design. He had also contributed to the payload design.' +
                                    '<br>' +
                                    'Kartik currently leads the mechanical systems division consisting of the structure, propulsion and' +
                                    'thermal subsystems. He ensures that the three subsystems work in coordination and helps interface' +
                                    'the group with other divisions on a system level. He provides guidance to the newer members and helps' +
                                    'them in their induction into the team. He gives a systems design approach for the mechanical systems division.',
                                */
                                {link: 'https://in.linkedin.com/in/kartik-naik', title: 'Researchgate', blank: 1},
                                {link: 'https://www.researchgate.net/Kartik_Naik',  title: 'LinkedIn', blank: 1}
                            )


                            +member(
                                'Subham Kumar Gupta',
                                'subham.jpg',
                                'Structure Subsystem',
                                '',
                                /*
                                    'Subham is a student in SRM University pursuing his Bachelor&rsquo;s in Mechanical Engineering ' +
                                    'joined the team in 2014 as a structural design engineer and has been working since then on the ' +
                                    'preliminary and critical design of SRMSAT - 2.  For nearly a year he was the sole member of the ' +
                                    'Structure subsystem and designed the preliminary on his own. Over the years he has mastered 3D solid ' +
                                    'modelling software and has in-depth knowledge has brought the design from scratch to where it stands today.' +
                                    '<br>' +
                                    'He now works as the Mechanical Systems Engineer and leads his team with 3 juniors and 4 newer recruits as ' +
                                    'a part of Mechanical Systems. He has been teaching them 3D modelling using Siemens NX and prepared them ' +
                                    'for the mission before they could be split into the three subsystems namely, Structure, Propulsion and Thermal. ' +
                                    'He ensures smooth functioning of the Mechanical Systems Division and provides technical guidance to his ' +
                                    'subordinates in the team.',
                                */
                                {link: 'https://in.linkedin.com/in/subhamgupta', title: 'Researchgate', blank: 1},
                                {link: 'https://www.researchgate.net/Subham_Gupta2',  title: 'LinkedIn', blank: 1}
                            )

            .slide.fp-auto-height
                .page-wrapper.container-fluid.page-section--content
                    .container-fluid.tp-container

                        //- .container.masonry--heading
                        //-     .row.u-text-center Spaceflight Dynamics

                        .container.masonry--container
                            +member(
                                'Amin Ali Mody',
                                'amin.jpg',
                                'ACS and Payload',
                                    '' +
                                    '' +
                                    ''
                            )


                            +member(
                                'Arunima Prakash',
                                'arunima.jpg',
                                'Trajectory Design and Analysis',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Sakshi Namdeo',
                                'sakshi.jpg',
                                'Mission and Payload Ops.',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Tushar Sharma',
                                'tushar.jpg',
                                'Attitude and Orbit Dynamics',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Peeyush Tekriwal',
                                'peeyush.jpg',
                                'ADS and Sensors',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Abbas Shaikh',
                                'abbas.jpg',
                                'GNC',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Gokull Subramanian',
                                'gokull.jpg',
                                'ACS',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Aman Pandia',
                                'amanpandia.jpg',
                                'ADS',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Pranava Bhatia',
                                'pranav.jpg',
                                'GNC',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'R.S.G. Shanmukh',
                                'shanmukh.jpg',
                                'GNC',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Rajbir Singh',
                                'rajbir.jpg',
                                'GNC',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Shashank Dubey',
                                'shashank.jpg',
                                'ADS',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Tarana Parvez K.',
                                'tarana.jpg',
                                'ADCS',
                                ''
                            )

                            +member(
                                'Shamik Mitra Mustafi',
                                'shamik.jpg',
                                'SFD',
                                ''
                            )


                        .container.masonry--container
                            +member(
                                'Sarthak Joshi',
                                'sarthak.jpg',
                                'SFD',
                                ''
                            )

                            +member(
                                'Anamika K.R.',
                                'anamika.jpg',
                                'SFD'
                            )

                            +member(
                                'Sanhita Padia',
                                'sanhita.jpg',
                                'SFD'
                            )

                            +member(
                                'Ishan Motarwar',
                                'ishan.jpg',
                                'SFD'
                            )

                            +member(
                                'Yash Malandkar',
                                'yash.jpg',
                                'SFD'
                            )

            .slide
                .page-wrapper.container-fluid.page-section--content
                    .container-fluid.tp-container

                        //- .container.masonry--heading
                        //-     .row.u-text-center Astrionics

                        .container.masonry--container
                            +member(
                                'Sriharini Tumu',
                                'sriharini.jpg',
                                'OBC',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Aman Kimothi',
                                'amankimothi.jpg',
                                'OBC',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Babiya Moirangthem',
                                'babiya.jpg',
                                'EPS',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Vineeth Raj',
                                'vineeth.jpg',
                                'OBC',
                                    '' +
                                    '' +
                                    ''
                            )

                        .container.masonry--container
                            +member(
                                'Kshema George',
                                'kshema.jpg',
                                'TTC'
                            )
                            +member(
                                'Mihir Patil',
                                'mihir.jpg',
                                'TTC'
                            )
                            +member(
                                'Shivam Sharma',
                                'shivam2.jpg',
                                'TTC'
                            )
                            +member(
                                'Ankit Patel',
                                'ankit.jpg',
                                'Power'
                            )
                            +member(
                                'Revanth Chowdary',
                                'revanth.jpg',
                                'Power'
                            )
                            +member(
                                'G. Kaavya',
                                'kaavya.jpg',
                                'OBSW'
                            )
                            +member(
                                'Moinak Bandyopadhyay',
                                'moinak.jpg',
                                'OBHW'
                            )
                            +member(
                                'Snehasish Dawn',
                                'dawn.jpg',
                                'OBHW'
                            )
                            +member(
                                'Hemant Choudhary',
                                'hemant.jpg',
                                'OBHW'
                            )
                            +member(
                                'Vatsal Bhatia',
                                'vatsal.jpg',
                                'OBHW'
                            )
                            +member(
                                'Rounak Datta',
                                'rounak.jpg',
                                'OBSW'
                            )
                            +member(
                                'Isha Mohan',
                                'isha.jpg',
                                'OBHW'
                            )
                            +member(
                                'Darsh Ashik Naik',
                                'darsh.jpg',
                                'OBSW'
                            )


            .slide
                .page-wrapper.container-fluid.page-section--content
                    .container-fluid.tp-container

                        //- .container.masonry--heading
                        //-     .row.u-text-center Mechanical Systems

                        .container.masonry--container
                            +member(
                                'Jananee D.',
                                'jananee.jpg',
                                'Propulsion',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Siddharth Dash',
                                'dash.jpg',
                                'Thermal',
                                    '' +
                                    '' +
                                    ''
                            )

                            +member(
                                'Surya Bhan Singh',
                                'surya.jpg',
                                'Structure',
                                    '' +
                                    '' +
                                    ''
                            )

                        .container.masonry--container
                            +member(
                                'Aditya Patil',
                                'aditya.jpg',
                                'Mechanical Systems'
                            )

                            +member(
                                'Krishna Thakkar',
                                'krishna.jpg',
                                'Mechanical Systems'
                            )

                            +member(
                                'Abhav Prasad',
                                'abhav.jpg',
                                'Mechanical Systems'
                            )

block page-scripts
    script.
        window.onload = function(e){
            addClass(document.getElementsByClassName('spinner-mask')[0], 'spinner-mask--hidden');
        }

    script(src='/bower/jquery/dist/jquery.min.js')
    //- script(src='/bower/tingle/dist/tingle.min.js')
    script(src='/bower/fullpage.js/vendors/scrolloverflow.min.js')
    script(src='/bower/fullpage.js/dist/jquery.fullpage.min.js')

    script
        include ../../js/team.min.js
